# Environment secrets
.env

# Python
__pycache__/
*.pyc
*.pyo

# Streamlit
.streamlit/

# Project runtime directories
outputs/
uploaded_docs/
vectorstore_data/

# IDEs
.idea/
.vscode/

# Virtual environments
venv/
.venv/
env/
